<div id="dialog" title="new issue">
  <form>
   <input type='text' name='issue_id'> </input> 
  <button type="button" class="button ok" onClick="issue_num_ok();">
    <%= l(:button_input_num_ok) %>
  </button>
  </form> 
  
  <%= form_for @issue, url: {controller: :ttevents, action: :create_issue}, remote: true do |f| %>
    <fieldset class="field box">
      <%# select project %>
      <p>
        <%= f.label :project_id %>
        <%= f.select :project_id, project_tree_options_for_select(@issue.allowed_target_projects), {:required => true, prompt: 'select project'}, onchange: 'onSelectProject();' %>
      </p>
      <%# select tracker %>
      <p>
        <%= f.label :tracker_id %>
        <%= f.select :tracker_id, [], {:required => true,prompt: ' select tracker '} %>
      </p>
      <% issue subject %>
      <p>
        <%= f.label :subject %>
        <%= f.text_field :subject %><br>
      </p>
      <%#  due date %>
      <%# date %>
      <p>
        <%= f.label :due_date %>
        <%= f.date_field :due_date %><br>
      </p>

      <%# comment1 %>
      <%# comment2 %>
      <%# author  %>
      <%= f.hidden_field :author_id, value: @current_user.id %>
      <%# pivot %>
      <%#  assigned to %>
      <%= f.hidden_field :assigned_to_id, value: @current_user.id %>
      <p>
        <%= f.label :priority_id %>
        <%= f.select :priority_id, (@priorities.collect {|p| [p.name, p.id]}), {:required => true} %>
      </p>
    <%= f.fields_for :ttevents do |builder| %>
      <%= builder.hidden_field :user_id, value: @current_user.id %>
      <%= builder.hidden_field :start_time %>
      <%= builder.hidden_field :end_time %>
    <% end %>
    </fieldset>
    <%= f.submit l(:button_create), class: 'button create'%>
  <% end %>
  <button type="button" class="button cancel" onClick="cancel();">
    <%= l(:button_cancel) %>
  </button>
</div>
<script>

    function issue_num_ok(){
    $('#dialog').dialog("close");
    $('#modal_area').html('');
  }
  
  function cancel(){
    $('#dialog').dialog("close");
    $('#modal_area').html('');
  }
  function onSelectProject(){
    val = $('#issue_project_id').val();
    if(val==""){ return; }
      $.ajax({
        type: "GET",
      url: "ttevents/tracker_list",
      data: {
        id: val 
      },
      success: function(trackers,status){
        $('#issue_tracker_id').html($("<option>").val('').text('select tracker '));
        trackers.forEach(function(tracker){
          $('#issue_tracker_id').append($("<option>").val(tracker.id).text(tracker.name));
        })
      }
      })
  }
  $(".button").button();
  $("input#issue_due_date").datepicker()
</script>
